# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv
encoder_detection/.venv

# Data
data/
archive/

# Models (large binary files)
encoder_detection/models/
encoder_detection/results/